<div class="container-fluid">



    
   
      <div class="colection"  (click)="album()">
        <div  *ngFor="let p of datos | paginate:page_size:page_number; let i=index">
          <article>
            <img src={{p.img}} alt="Girl in a jacket" width="250" height="227" style="margin:auto; display:block;">
           
          </article>
          <div style="background-color: black; color:white;height: 50px;text-align: center;font-size: 25px;align-content: center; display: grid;">
            {{p.name}}
          </div>
            
        </div>
          
         
         <!-- <div style="background-color: black; color:white;margin: 1%;height: 50px;text-align: center;font-size: 25px;align-content: center; display: grid;">
            {{p.name}}
          </div>
          -->
        </div>
        
       
      
     
    
     
    <mat-paginator 
        [length]="datos.length"
        [pageSize]="page_size"
        [pageSizeOptions]="page_size_option"
        (page)="handlePage($event)">
    </mat-paginator>
    

</div>