.quitar{
    position: -webkit-sticky;
      display: block;
      position: relative;
      top: -18px;
      right: -15px;
      float: right;
      z-index: 1001;
  }
  
  

  element.style {
    justify-content: flex-end;
    /* margin-top: 7px; */
}

::ng-deep.mat-dialog-actions {
    margin-bottom: 0px; 
}
   .ppp{
     justify-content: center;
     text-align: center;
     align-items: center;
   }

  .icono{
        width: 35px;
        height: 35px;
  }
  
  .i-meta{
    width: 100px;
    height: 100px;
    margin-left: 15%;
    margin-bottom: 5px;
  }

  
  
::ng-deep.mat-raised-button {
   
    border-radius: 20px;
}
   
.delete{
  position: sticky;
    float: left;
    bottom: 6%;
    z-index: 1000;
}


::ng-deep.mat-fab .mat-button-wrapper {
     padding: 0px 0;
}

