<div class="container-fluid">




    <div class="row" style="margin-left: 12%;margin-right: 12%;justify-content: center;padding-top: 5%; padding-bottom: 5%;" >
        <div class="col-md" style=" width: 90%;">
            <div>
             <img src="https://images-na.ssl-images-amazon.com/images/I/81gRMFAKxmL._SX355_.jpg" alt="Girl in a jacket" width="225" height="225" style="margin:auto; display:block;">
            </div>   
        </div>
        <div class="col-md" style="width: 100%;">
            <div style="background-color: black; color:white;margin: 1%;height: 50px;text-align: center;font-size: 25px;align-content: center; display: grid;">
                Some Girl
               </div>
               Queen es una banda británica de rock formada en 1970 en Londres
             por el cantante y pianista Freddie Mercury, el guitarrista Brian May, el baterista Roger Taylor y el bajista John Deacon
             Queen 1973
             Queen II 1974
             Sheer Heart Attack 1974
             A Night at the Opera 1975
             Innuendo 1991
        </div>
    </div>
    <mat-divider></mat-divider>
    <h1 mat-dialog-title style="margin:0;  padding-top: 5px;text-align: center;">Algunas Canciones de Queen </h1>
    <div class="row" style="justify-content: center;padding-top: 5%;" >
        <div class="col-md">
            <youtube-player 
                videoId="fJ9rUzIMcZQ" 
                suggestedQuality="highres"
                [height]="200" 
                [width]='350'>
            </youtube-player>
        </div>
        <div class="col-md">
            <youtube-player 
                videoId="fJ9rUzIMcZQ" 
                suggestedQuality="highres"
                [height]="200" 
                [width]="350">
            </youtube-player>
        </div>
        <div class="col-md">
            <youtube-player 
                videoId="fJ9rUzIMcZQ" 
                suggestedQuality="highres"
                [height]="200" 
                [width]="350">
            </youtube-player>
        </div>
    </div>
