<div class="container-fluid">




    <div class="row" style="margin-left: 12%;margin-right: 12%;justify-content: center;padding-top: 5%;" >
        <div class="col-md" style=" width: 90%;">
            <div>
             <img src={{banda.imagen}} alt="Girl in a jacket" width="225" height="225" style="margin:auto; display:block;">
            </div>   
        </div>
        <div class="col-md" style="width: 100%;">
            <div style="background-color: black; color:white;margin: 1%;height: 50px;text-align: center;font-size: 25px;align-content: center; display: grid;">
                {{banda.nombre}}
               </div>
               {{banda.detalle}}
        </div>
        <div class="col-xs" style="width: 100%;justify-content: center;display: flex; padding-bottom: 25px;padding-top: 10px;">
            <button mat-fab style="background-color: rgb(66 66 66); border: 2px solid white;"  (click)="showEdit()">
                <i class="material-icons" style="color:rgba(0, 217, 255);">edit</i> <!-- Animation here -->
              </button>
              <button mat-fab style="margin-left: 25px; background-color: rgb(66 66 66);border: 2px solid white;" (click)="showEliminar()">
                <i class="material-icons" style="color:rgba(0, 217, 255);">delete_forever</i> <!-- Animation here -->
              </button>
        </div>
        
    </div>
   
    <mat-divider></mat-divider>
   
        <h1 mat-dialog-title style="margin:0;padding-top:5px;text-align: center;">Algunas Canciones  </h1>
        <div class="row" style="justify-content: center;padding-top: 50px;" >
            <div *ngFor="let item of enlaces">
                <div class="col-md" style="    justify-content: center;
                display: flex;">
               
                    <youtube-player 
                        videoId={{item}}
                        suggestedQuality="highres"
                        [height]="200" 
                        [width]='350'>
                    </youtube-player>
                </div>
            </div>
        </div>
</div>
    
