<div class="container-fluid">




    <div class="row" style="margin-left: 12%;margin-right: 12%;justify-content: center;padding-top: 5%;" >
        <div class="col-md" style=" width: 90%;">
            <div>
             <img src="https://images-na.ssl-images-amazon.com/images/I/81gRMFAKxmL._SX355_.jpg" alt="Girl in a jacket" width="225" height="225" style="margin:auto; display:block;">
            </div>
           
        </div>
        <div class="col-md" style="width: 70%;">
            <div style="background-color: black; color:white;margin: 1%;height: 50px;text-align: center;font-size: 25px;align-content: center; display: grid;">
                Some Girl
               </div>
                cosassaasdasjkfhnasekljhf ksjdhfsd
                sfgkjsdfghnldkfg
                dfgkldjfglgkñlkdfjglkdfg
                dfklgjldfkjglñ
                dsfkhjsukghdflkhjgldk ljh lfmh
                dfhkjfglkhjlñfgh 
                fghfg
                hfg
                <h1>dfhkjfglkhjlñfghfghfghklfgh</h1>             
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="margin-left: 12%;margin-right: 12%;justify-content: center;padding-top: 5%;">
        <youtube-player 
        videoId="fJ9rUzIMcZQ" 
        suggestedQuality="highres"
        [height]="200" 
        [width]="400">
    </youtube-player>
    </div>
    <div style="margin-left: 12%;margin-right: 12%;justify-content: center;padding-top: 5%;">
        <youtube-player 
        videoId="f4Mc-NYPHaQ" 
        suggestedQuality="highres"
        [height]="200" 
        [width]="400">
    </youtube-player>
    </div>
</div>
